# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java\Java_Preparing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/out/
/target/
/.idea/
*.gitignore
/certificateDB — копия.db
*.xlsx
/DBpath.cnf
/certificateDB.db
*.7z
*.db
*.iml
